# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs
*.log

# Node modules
node_modules/

# Build outputs
dist/
build/
.out/
.next/
.cache/
